/* root
-------------------- */

:root {
  --black: #18181b;
  --gray: #52525a;
  --light-gray: #d4d4d8;
  --white2: #fafaf9;
  --white: #fff;
  --yellow: #f5c044;
  --green: #4ca154;

  /* color map */
  --background: var(--white2);
  --card: var(--white);
  --text-primary: var(--black);
  --text-secondary: var(--gray);
  --star: var(--yellow);
  --correct: var(--green);

  /* font */
  --font-base:
    sora, -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen, ubuntu,
    cantarell, fira sans, droid sans, helvetica neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

/* common
-------------------- */

.container {
  max-width: 640px;
  padding: 0 4%;
  margin: 0 auto;
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

/* デザインの都合で 1024px から、この max-width にする */
@media (width >= 1024px) {
  .container {
    max-width: 1280px;
    padding: 0 6%;
  }
}

/* header
-------------------- */

/* ref: https://tailwindcss.com/docs/screen-readers */
.header {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}

/* main
-------------------- */

.main {
  margin-top: 96px;
  margin-bottom: 292px;
}

@media (width >= 1024px) {
  .main {
    margin-top: 152px;
    margin-bottom: 192px;
  }
}

/* Layout */

.reviewers-section {
  display: flex;
  flex-direction: column;
}

.layout__testimonial-card-google {
  margin-top: 64px;
  margin-left: auto;
}

.layout__testimonial-card-meta {
  margin-top: 40px;
  margin-right: auto;
}

@media (width >= 1024px) {
  .reviewers-section {
    display: grid;
    grid-template-rows: repeat(2, minmax(188px, 1fr));
    grid-template-columns: repeat(12, 1fr);
    gap: 40px 32px;
  }

  .layout__reviewers {
    grid-row: 1 / 3;
    grid-column: 1 / 7;
  }

  .layout__testimonial-card-google {
    grid-row: 1 / 2;
    grid-column: 9 / 13;
    margin-top: 0;
  }

  .layout__testimonial-card-meta {
    grid-row: 2 / 3;
    grid-column: 7 / 11;
    margin-top: 0;
  }
}

/* Reviewers */

.reviewers__star-icon {
  display: inline-block;
  padding: 12px;
  background: var(--star);
  border-radius: 50%;
}

.reviewers__title {
  margin-top: 20px;
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-primary);
}

.reviewers__description {
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 1.65;
  color: var(--text-secondary);
}

.reviewers__check-list {
  padding-left: 4px;
  margin-top: 36px;
  list-style: none;
}

.reviewers__check-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.reviewers__check-list-item:last-child {
  margin-bottom: 0;
}

.reviewers__check-list-item::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  content: '';
  background-image: url('../images/Done_ring_round_fill.svg');
}

/* Testimonial Card */

.testimonial-card {
  max-width: 360px;
  padding: 28px 36px 32px;
  background-color: var(--card);
  border-radius: 12px;
  box-shadow: 0 30px 100px 0 rgb(17 23 41 / 5%);
}

.testimonial-card__header {
  display: flex;
  align-items: center;
}

.testimonial-card__logo {
  width: 88px;
  height: auto;
}

.testimonial-card__five-star {
  display: flex;
  margin-left: 16px;
}

.testimonial-card__star {
  margin-left: 4px;
}

.testimonial-card__star:last-child {
  margin-right: 0;
}

.testimonial-card__name {
  display: block;
  margin-top: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-primary);
}

.testimonial-card__comment {
  margin-top: 12px;
  font-size: 1rem;
  color: var(--text-secondary);
}
