/* root
-------------------- */

:root {
  --black: #18181b;
  --gray: #52525a;
  --light-gray: #d4d4d8;
  --white2: #fafaf9;
  --white: #fff;
  --yellow: #f5c044;
  --green: #4ca154;

  /* color map */
  --background: var(--white2);
  --card: var(--white);
  --text-primary: var(--black);
  --text-secondary: var(--gray);
  --star: var(--yellow);
  --correct: var(--green);

  /* font */
  --font-base: sora, -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

/* common
-------------------- */

.container {
  max-width: 1280px;
  padding: 0 4%;
  margin: 0 auto;
}

/* header
-------------------- */

/* ref: https://tailwindcss.com/docs/screen-readers */
.header {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* main
-------------------- */

.testmonial-card {
  width: 360px;
  padding: 28px 36px 32px;
  background-color: var(--card);
  border-radius: 12px;
  box-shadow: 0 30px 100px 0 rgb(17 23 41 / 5%);
}

.testmonial-card__header {
  display: flex;
  align-items: center;
}

.testmonial-card__logo {
  width: 88px;
  height: 36px;
}

.testmonial-card__five-star {
  display: flex;
  margin-left: 16px;
}

.testmonial-card__star {
  margin-left: 4px;
}

.testmonial-card__star:last-child {
  margin-right: 0;
}

.testmonial-card__name {
  display: block;
  margin-top: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-primary);
}

.testmonial-card__comment {
  margin-top: 12px;
  font-size: 1rem;
  color: var(--text-secondary);
}
